* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    box-sizing: border-box;
}

.contain {
    width: 1300px;
    margin: 1em auto;
}

.dress {
    float: left;
    width: 400px;
    margin-bottom: 1em;
}

.dress:hover img {
    display: inline-block;
}

.top-center, .bottom-center {
    margin: 0 14px;
}

.habit {
    width: 400px;
    height: 600px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.coat {
    background-image: url('../img/1.webp');
}

.skirt-red {
    background-image: url('../img/2.webp');
}

.jaket-beige {
    background-image: url('../img/3.webp');
}

.jaket-blue {
    background-image: url('../img/4.webp');
}

.skirt-pink {
    background-image: url('../img/5.webp');
}

.skirt-brown {
    background-image: url('../img/6.webp');
}


img {
    width: 400px;
    height: 600px;
    display: block;
    display: none;   
}

.description {
    width: 100%;
    
}

.hearts {
    font-size: 2em;
    padding: 5px 10px;
    background: white;
    position: absolute;
    top: 15px;
    right: 0;
}

.hearts:hover {
    color: red;
}

.discount, .sustainability {
    color: white;
}

.discount {
    padding: 5px;
    background: #eb0037;
}

.sustainability {
    padding: 5px;
    background: #00875a;
}

.discount-sustainability {
    position: absolute;
    bottom: 15px;
    left: 0;
}

.model {
    text-transform: uppercase;
}

.discount-price {
    color: #ff0a00;
}

.price {
    text-decoration: line-through;
    marg
}


